.about h1 {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

.about-me {
    color: white;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    max-width: 500px;
}

